body{
 	width: 60%;
 	margin: 0 auto;
 	background-image: url("../images/background.jpg");
 	background-attachment: fixed;
 } 
 
header{
 	background-color: white;
 }
 
.bplogo{
	width: 15%;
	height: 15%;
}
 
ul{
	width: 101.1%;
	margin: 0%;
	padding: 0%;
	text-align: center;

}

.nav{
	list-style-type: none;
 	float: left;
 	background-color: rgb(2,52,99);
 	width: 33%;
 	font-family: 'Audiowide', sans-serif;
 }
 
.body{
 	background: white;
 	background-color: rgba(255,255,255,0.80);
 }
 
 p,h1,h3,h4,h5{
 	text-align: center;
 }
 
 p{
 	font-family: 'Electrolize', cursive;
 	margin-left: 5%;
 	padding-top: 5%;

 }
 
 h1{
 	font-family: 'Audiowide', cursive;
 	font-size: 200%;
 	text-align: center;

 }
 
 h2{
 	padding-top: 2%;
 	padding-bottom: 1%;
 	font-size: 200%;
 	font-family: 'Audiowide', sans-serif;
 }
 
h4{
 	padding-top: 2%;
 	padding-bottom: 1%;
 	font-size: 150%;
 	font-family: 'Audiowide', sans-serif;
 }
 
 h3{
 	font-family: 'Audiowide', cursive;
 	font-size: 200%;
 }
 
 .intropara{
 	-moz-column-count: 3;
 	text-align: left;
 	margin-right: 5%;
 }
 
 #cta{
 	padding-top: 2%;
 	text-align: center;
 }
 
 .quotebutton{
 	border: 2px solid green;
 	border-radius: 10px;
 	width: 28%;
 	margin-left: 35%;
 	margin-top: 5%;
 	margin-bottom: 5%;
 	background-image: url("../images/buttonbackground.jpg");
 	background-position: center;
 }
 
 ol{
 	margin: 2.5%;
 	font-family: 'Electrolize', cursive;

 }

 a{
 	display: block;
 	text-decoration: none;
 	color: white;
 	padding: 2%;
 }
 
 
 a:hover{
 	background: rgb(0,231,250);
 	color: rgb(2,52,99);
 	border-color: rgb(0,231,250);
 }
 
 a:active{
 	background: black;
 	color: rgb(0,231,250);
 }
 
 a:visited{
 	background: green;
 }
 
 section{
 	clear: both;
 }
 
 #ownerimg{
 	width: 50%;
 	border:2px solid black;
 	box-shadow: 2px 4px 10px black;
 	border-radius: 10px;
 	margin-left: 25%;
 	margin-top: 5%;
 }
 
 .ctabody{
 	background-color: rgba(0,0,0,0.95);
 	color: white;
 	border: 2px rgba(255,255,255,0.80) solid; 
 	border-radius: 10px;
 	font-family: 'Electrolize', sans-serif;
 	text-align: center;
 	font-size: 100%;
 }
 
 h2{
 	text-align: center;
 }
 
 .gallery{
 	width: 100%;
 	overflow: hidden;
 }
 .galleryimg{
 	float: left;
 }
 
 .imglink{
  	display: block;
 	height: 100px;
 	width: 130px;
 	margin-left: 10%;
 	padding: 0px;
 	border: 4px solid white;
 }
 
 .imglink2{
 	display: block;
 	height: 120px;
 	width: 100px;
 	margin-left: 10%;
 	margin-bottom: 10%;
 	padding: 0px;
 	border: 4px solid white;
 }
 
 footer{
 	background-color: black;
 	color: white;
 }
 
 article{
 	padding-bottom: 5%;
 }
 
 #footer{
 	text-align: center;
 	padding: 2%;
 	margin: 2%;
 }

 @media screen and (min-width: 668px) and (max-width: 859px){
	body{
		width: 80%;
		font-size: 90%;
	} 
	
	header{
		width: 100%;
	}	 

 }
 
  @media screen and (min-width: 380px) and (max-width: 667px){
  	body{ 
  	    width: 100%;
  	    border: 5px dotted rgb(2,52,99);
  	    font-size: 80%;

  	}
  	header{
		width: 100%;
	}	
	
	.intropara{
		margin-right: 2%;
		-moz-column-count: 2;

	}
	
  }
  
  @media screen and (max-width: 379px){
	body{
		width: 100%;
		font-size: 70%;
	}

	header{
		width: 100%;
	}	
	
	.intropara{
		margin-right: 2%;
		-moz-column-count: 1;

	}
	
	aside{
		display: none;
	}
	
	.ctabody{
		font-size: 80%;
	}
}

 